## Data Preparation

### Dataset 1: Stanik et al.

In [ ]:
# Imports
import pandas as pd
from sklearn.utils import shuffle
from sklearn.metrics import cohen_kappa_score

# Set up google drive connection
from google.colab import drive
drive.mount('/content/drive')

# Get dataset from google drive

# Dataset labeled by rater 1 and 2
df1 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/DATASET_labeled.xlsx')

# Import of dataset without google drive
# df1 = pd.read_excel('DATASET_labeled.xlsx')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405 entries, 0 to 6404
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6405 non-null   int64
 1   category     6405 non-null   object
 2   review       6390 non-null   object
 3   attribute    6405 non-null   object
 4   attribute2   342 non-null    object
 5   attribute3   409 non-null    object
 6   kano_labels  6353 non-null   object
dtypes: int64(1), object(6)
memory usage: 350.4+ KB

In [ ]:
# Delete all irrelevant columns
df1 = df1.drop(columns=['id', 'category', 'attribute', 'attribute2', 'attribute3'])

# Delete all duplicate reviews
df1 = df1.drop_duplicates(subset=['review'])

# Delete all rows with null values
df1 = df1.dropna()

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6070 entries, 0 to 6404
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       6070 non-null   object
 1   kano_labels  6070 non-null   object
dtypes: object(2)
memory usage: 142.3+ KB

In [ ]:
# Show the distribution of the labels

print(df1['kano_labels'].value_counts())

I    2452
P    1530
B    1440
D     648
Name: kano_labels, dtype: int64

In [ ]:
# Encode the labels

possible_labels = ['B', 'D', 'I', 'P']

label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index
df1['labels'] = df1.kano_labels.replace(label_dict)
label_dict

{'B': 0, 'D': 1, 'I': 2, 'P': 3}

In [ ]:
# Save dataframe without downsampling for further use

df1.to_excel("DATASET_not_downsampled.xlsx")

In [ ]:
# Downsampling

# Save different labels in seperate dataframes
df1_B = df1[df1['labels'] == 0] # B
df1_P = df1[df1['labels'] == 3] # P
df1_D = df1[df1['labels'] == 1] # D
df1_I = df1[df1['labels'] == 2] # I

# Reduce the number of samples to the number of the class with the least samples
df1_I_downsampled = df1_I.sample(df1_D.shape[0]) 
df1_B_downsampled = df1_B.sample(df1_D.shape[0]) 
df1_P_downsampled = df1_P.sample(df1_D.shape[0]) 

# Combine the dataframes
df1_downsampled = pd.concat([df1_I_downsampled, df1_B_downsampled, df1_P_downsampled, df1_D])
df1 = df1_downsampled

df1 = shuffle(df1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2592 entries, 6099 to 4201
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       2592 non-null   object
 1   kano_labels  2592 non-null   object
 2   labels       2592 non-null   int64
dtypes: int64(1), object(2)
memory usage: 81.0+ KB

In [ ]:
# Show the distribution of the labels after downsampling

print(df1['labels'].value_counts())

2    648
0    648
1    648
3    648
Name: labels, dtype: int64

In [ ]:
# Save dataframe
df1.to_excel("DATASET_downsampled.xlsx")

### Dataset 2: Hannover/ Trainingskorpus

In [ ]:
# Get dataset from google drive

# Dataset labeled by rater 1 and rater 2

df2_rater1 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/TrainingskorpusLabeled1.xlsx')
df2_rater2 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/TrainingskorpusLabeled2.xlsx')

# Import of datasets without google drive
# df2_rater1 = pd.read_excel('TrainingskorpusLabeled1.xlsx')
# df2_rater2 = pd.read_excel('TrainingskorpusLabeled2.xlsx')

In [ ]:
df2_rater1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1730 non-null   int64
 1   data              1730 non-null   object
 2   label 1           1728 non-null   object
 3   label             1730 non-null   object
 4   singlelabel       1730 non-null   object
 5   idReview          1730 non-null   int64
 6   Store             1730 non-null   object
 7   App               1730 non-null   object
 8   App_ID            1730 non-null   object
 9   Score             1730 non-null   int64
 10  idRandom          1730 non-null   int64
 11  Autor             1730 non-null   object
 12  Originaler Autor  1730 non-null   object
 13  Vergleich         1730 non-null   bool
 14  Version           1730 non-null   int64
 15  BinaryLabel       1730 non-null   int64
dtypes: bool(1), int64(6), object(9)
memory usage: 204.5+ KB

In [ ]:
df2_rater2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1730 non-null   float64
 1   data              1730 non-null   object
 2   label             1730 non-null   object
 3   singlelabel       1730 non-null   object
 4   idReview          1730 non-null   float64
 5   Store             1730 non-null   object
 6   App               1730 non-null   object
 7   App_ID            1730 non-null   object
 8   Score             1730 non-null   float64
 9   idRandom          1730 non-null   float64
 10  Autor             1730 non-null   object
 11  Originaler Autor  1730 non-null   object
 12  Vergleich         1730 non-null   bool
 13  Version           1730 non-null   float64
 14  BinaryLabel       1730 non-null   int64
 15  label2            1730 non-null   object
dtypes: bool(1), float64(5), int64(1), object(9)
memory usage: 204.5+ KB

In [ ]:
# Merge both datasets on data column

df2 = pd.merge(df2_rater1, df2_rater2, on='data')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1627 entries, 0 to 1626
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_x                1627 non-null   int64
 1   data                1627 non-null   object
 2   label 1             1625 non-null   object
 3   label_x             1627 non-null   object
 4   singlelabel_x       1627 non-null   object
 5   idReview_x          1627 non-null   int64
 6   Store_x             1627 non-null   object
 7   App_x               1627 non-null   object
 8   App_ID_x            1627 non-null   object
 9   Score_x             1627 non-null   int64
 10  idRandom_x          1627 non-null   int64
 11  Autor_x             1627 non-null   object
 12  Originaler Autor_x  1627 non-null   object
 13  Vergleich_x         1627 non-null   bool
 14  Version_x           1627 non-null   int64
 15  BinaryLabel_x       1627 non-null   int64
 16  id_y                1627 non-null   float64
 17  label_y             1627 non-null   object
 18  singlelabel_y       1627 non-null   object
 19  idReview_y          1627 non-null   float64
 20  Store_y             1627 non-null   object
 21  App_y               1627 non-null   object
 22  App_ID_y            1627 non-null   object
 23  Score_y             1627 non-null   float64
 24  idRandom_y          1627 non-null   float64
 25  Autor_y             1627 non-null   object
 26  Originaler Autor_y  1627 non-null   object
 27  Vergleich_y         1627 non-null   bool
 28  Version_y           1627 non-null   float64
 29  BinaryLabel_y       1627 non-null   int64
 30  label2              1627 non-null   object
dtypes: bool(2), float64(5), int64(7), object(17)
memory usage: 384.5+ KB

In [ ]:
# Drop irrelevant columns

df2 = df2[['data','label 1','label2']]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1627 entries, 0 to 1626
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     1627 non-null   object
 1   label 1  1625 non-null   object
 2   label2   1627 non-null   object
dtypes: object(3)
memory usage: 50.8+ KB

In [ ]:
# Rename column
df2 = df2.rename(columns={'label2': 'label 2', 'data': 'review'})

# Remove null values
df2 = df2.dropna(how='any',axis=0) 

# Remove all duplicate reviews
df2 = df2.drop_duplicates(subset=['review'])

# Remove rows without label
a = ['B' , 'P', 'D', 'I']
df2 = df2[df2['label 2'].isin(a)]

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1622 entries, 0 to 1626
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   review   1622 non-null   object
 1   label 1  1622 non-null   object
 2   label 2  1622 non-null   object
dtypes: object(3)
memory usage: 50.7+ KB

In [ ]:
# Save all reviews where raters disagreed in a seperate dataframe
df2_unequalLabels = df2[(df2['label 1'] != df2['label 2'])]

# Save dataframe
df2_unequalLabels.to_excel("TrainingskorpusUnequalLabels.xlsx")  

df2_unequalLabels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 1 to 1625
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   review   239 non-null    object
 1   label 1  239 non-null    object
 2   label 2  239 non-null    object
dtypes: object(3)
memory usage: 7.5+ KB

In [ ]:
# Save all reviews where raters agreed in a seperate dataframe
df2_equalLabels = df2[(df2['label 1'] == df2['label 2'])]

df2_equalLabels = df2_equalLabels.drop(columns = 'label 2')

df2_equalLabels = df2_equalLabels.rename(columns = {'label 1': 'kano_labels'})

# Save dataframe
df2_equalLabels.to_excel("TrainingskorpusEqualLabels.xlsx")  

df2_equalLabels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 0 to 1626
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       1383 non-null   object
 1   kano_labels  1383 non-null   object
dtypes: object(2)
memory usage: 32.4+ KB

In [ ]:
print(df2['label 1'].value_counts())

B    1109
P     393
D     102
I      18
Name: label 1, dtype: int64

In [ ]:
print(df2['label 2'].value_counts())

B    1049
P     389
D     162
I      22
Name: label 2, dtype: int64

In [ ]:
# Calculate cohens kappa between rater 1 and rater 2

print('Cohens kappa between rater 1 and rater 2: ', cohen_kappa_score(df2['label 1'], df2['label 2']))

Cohens kappa between rater 1 and rater 2:  0.7012836101979895

In [ ]:
# Save dataframe
df2.to_excel("Trainingskorpus_InitialLabels.xlsx")

In [ ]:
# Import dataset of third rater, who labeles reviews where rater 1 and rater 2 disagreed

df2_rater3 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/TrainingskorpusLabeled3.xlsx')

# Import of datasets without google drive
# df2_rater3 = pd.read_excel('TrainingskorpusLabeled3.xlsx')

df2_rater3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  239 non-null    float64
 1   data        239 non-null    object
 2   label 1     239 non-null    object
 3   label 2     239 non-null    object
 4   label 3     239 non-null    object
dtypes: float64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
# Drop irrelevant column
df2_rater3 = df2_rater3.drop(columns = {'Unnamed: 0', 'label 1', 'label 2'})

# Rename column
df2_rater3 = df2_rater3.rename(columns={'data': 'review', 'label 3': 'kano_labels'})

df2_rater3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       239 non-null    object
 1   kano_labels  239 non-null    object
dtypes: object(2)
memory usage: 3.9+ KB

In [ ]:
# Combine datasets of rater 1, rater 2 and rater 3 (all reviews where rater 1 and 2 agreed, and those of rater 3)

df2_final = df2_equalLabels.append(df2_rater3)
df2_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1622 entries, 0 to 238
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       1622 non-null   object
 1   kano_labels  1622 non-null   object
dtypes: object(2)
memory usage: 38.0+ KB

In [ ]:
print(df2_final['kano_labels'].value_counts())

B    1102
P     395
D      95
I      30
Name: kano_labels, dtype: int64

In [ ]:
# Save dataframe

df2_final.to_excel("Trainingskorpus_Final.xlsx")

### Dataset 3: Combination of Dataset 1 & Dataset 2

In [ ]:
dataset1 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/DATASET_not_downsampled.xlsx')
dataset2 = pd.read_excel('/content/drive/MyDrive/KANO Modell Studie/Datasets/LabeledDatasets/Trainingskorpus_Final.xlsx')

dataset1 = dataset1.drop(columns = ['Unnamed: 0', 'labels'])
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6070 entries, 0 to 6069
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       6070 non-null   object
 1   kano_labels  6070 non-null   object
dtypes: object(2)
memory usage: 95.0+ KB

In [ ]:
dataset2 = dataset2.drop(columns = ['Unnamed: 0'])
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       1622 non-null   object
 1   kano_labels  1622 non-null   object
dtypes: object(2)
memory usage: 25.5+ KB

In [ ]:
# Combine both datasets

df_combined = pd.concat([dataset1, dataset2], ignore_index=True)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7692 entries, 0 to 7691
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review       7692 non-null   object
 1   kano_labels  7692 non-null   object
dtypes: object(2)
memory usage: 120.3+ KB

In [ ]:
# Encode the labels

possible_labels_2 = ['B', 'D', 'I', 'P']

label_dict_2 = {}
for index, possible_label in enumerate(possible_labels_2):
    label_dict_2[possible_label] = index
df_combined['labels'] = df_combined.kano_labels.replace(label_dict_2)
label_dict_2

{'B': 0, 'D': 1, 'I': 2, 'P': 3}

In [ ]:
# Show the distribution of the labels before downsampling

print(df_combined['kano_labels'].value_counts())

B    2542
I    2482
P    1925
D     743
Name: kano_labels, dtype: int64

In [ ]:
# Downsampling 

# Save different labels in seperate dataframes
df_combined_B = df_combined[df_combined['labels'] == 0] # B
df_combined_P = df_combined[df_combined['labels'] == 3] # P
df_combined_D = df_combined[df_combined['labels'] == 1] # D
df_combined_I = df_combined[df_combined['labels'] == 2] # I

# Reduce the number of samples to the number of the class with the least samples
df_combined_I_downsampled = df_combined_I.sample(df_combined_D.shape[0]) 
df_combined_B_downsampled = df_combined_B.sample(df_combined_D.shape[0]) 
df_combined_P_downsampled = df_combined_P.sample(df_combined_D.shape[0]) 

# Combine the dataframes
df_combined_downsampled = pd.concat([df_combined_I_downsampled, df_combined_B_downsampled, df_combined_P_downsampled, df_combined_D])
df_combined=df_combined_downsampled

df_combined=shuffle(df_combined)
df_combined

                                                 review kano_labels  labels
98    Update ruined it Loved this game. My husband n...           B       0
5928  I love audiobooks! It's made my long days of b...           D       1
2175                                            Good Ok           I       2
2924  Where is the Dropbox support? On top of the ot...           P       3
3662  Won't open  Really wanted to try this but it c...           B       0
...                                                 ...         ...     ...
4715  BEST APP EVER!  Having Press Reader has allowe...           D       1
6912  I hope the latest update fixes this old and co...           B       0
6099  Downgrading from 5 to 3 stars. It's a good nav...           P       3
7686  Please remove the unhappy face for sleep. It i...           D       1
2373  Love it Ive never had any problems  Uploads an...           P       3

[2972 rows x 3 columns]

In [ ]:
# Show the distribution of the labels after downsampling

print(df_combined['labels'].value_counts())

0    743
1    743
2    743
3    743
Name: labels, dtype: int64

In [ ]:
# Save dataframe

df_combined.to_excel("DATASET_Trainingskorpus_combined.xlsx")